<!doctype html>
<html>
<head>
<title> flipkart</title>
</head>

<body >
<h1 align=center> NEW HEADDING </h1> 
<p>new paragrapg</p>
<p><a href="https://www.geeksforgeeks.org/best-python-libraries-for-machine-learning/">geeks for geeks</a>
<p><img src=gk.JPG alt=pic wiil come img></p>
<p><a href="html1.html">gkhtml</a> 
<p><a href="basic1.html">bascihtml page</a>
<br><br><br>
<p><a href="html1.html">gkhtml</a> 
<p><a href="basic1.html"  target="blank"  >bascihtml page</a>

















</body>


</html>